.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.navigation {
  display: flex;
  margin-bottom: 12px

}

.edgy {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 55px;
  margin-bottom: 14px
}

.s > input {
  width: 100%;
  height: 42px;
  border-radius: 24px;
  border: 2px solid black;
  padding-left: 20px;
  font-size: 16px;
  background-color: rgb(243, 241, 241);
}

.navigations {
  max-width: 100%;
  margin-left: 40px;
  margin-right: 40px;
}

.border {
  background-color: rgb(230, 229, 229);
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  z-index: 2;
}

.user, .edgy > i {
  margin-left: 25px;
}

.popP > i {
  font-size: 12px;
}

.edgy > i {
  cursor: pointer;
  font-size: 20px;
}

.edgy > h1 {
  font-size: 35px;
  color: #892CDC;
  cursor: pointer;
}

.nav > a {
  text-decoration: none;
  color: black;
  font-size: 13.5px;
  max-height: 60px;
}

.signIn {
  width: 45px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}

#searchI {
  position: absolute;
  display: flex;
  margin-right: 24px;
  align-self: center;
  font-size: 20px;
  cursor: pointer;
}

.s {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  margin-left: 8px;
}

.profile-dropdown {
  position: absolute;
  background-color: white;
  border: 0.5px solid #999999;
  margin-top: 25px;
  width: 180px;
  height: 180px;
  display: flex;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgb(158, 158, 150);
  z-index: 4;
  flex-direction: column;
  right: 60px;
  margin: 10px;
  padding: 10px;
  line-height: 1px;
}

.user > i {
  cursor: pointer;
}

.yR:hover, .yP:hover {
  background-color: #bfbebe;
  cursor: pointer;
}


#logout:hover {
  background-color: #bfbebe;
  cursor: pointer;
}
