/* img {
    height: 200px;
    width: 200px;
} */

#test-img {
    /* height: 50px;
    width: 50px; */
    display: none
}

#favorites__main-container {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
}

#user-details__container {
    display: flex;
    justify-content: space-between;
    margin-top: 25px
}

#user-options {
    display: flex;
    margin: 10px;
}

#user-sales {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#user-search-favorites__container {
    display: flex;
    justify-content: space-between;
    margin: 8px;
    align-items: center;
}

#user-favorites__container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    flex-wrap: wrap;
    row-gap: 20px;
}

#favorite-product {
    width: 93%;
    /* height: 80%; */
    margin: 10px 20px;
}

#favorite-product {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; this also moves the text in the container */
}

/* #favorite-product :not(p) {
    align-items: flex-end;
} */
/** SEARCH BAR  */
#search-favorites {
    width: 82%;
    height: 42px;
    border-radius: 24px;
    border: 1px solid rgb(186, 186, 186);
    box-shadow: 0.1px 0.1px 2px 0.1px rgb(186, 186, 186);
    padding-left: 25px;
    font-size: 16px;
    background-color: rgba(0,0,0,0);
    /* margin-right: 10px; */
  }

  .profileName {
    font-size: 30px;
  }

#user-favorites__count {
    flex-basis: 49%;
}

#user-favorites__search {
    display: flex;
    flex-basis: 49%;
    justify-content: flex-end;
    align-items: center;
    gap: 10px
}

.fa-magnifying-glass {
    font-size: 23px;
}

/* This positions the search-icon over the search bar input */
#search-button {
    position: absolute;
    margin-right: 1%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/** Favorites Button  */
#product-img {
    height: 200px;
    width: 100%;
    cursor: pointer;
    /* object-fit: cover; */
}

/*! Adjusting this height will adjust the entire product container height */
#fav-img__container {
    height: 200px;
}

.editProfile {
    display: flex;
    gap: 10px
}

#numberFavs {
    font-size: 10px;
    color: #595959;
    margin-left: 5px;
}

#favorite-icon__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
    width: 2.2%;
    height: 3.5%;
    position: absolute;
    z-index: 5;
    margin-top: 8px;
    margin-right: 8px;
}


.popP > div > #favorite-icon__container {
    width: 10.2%;
    height: 8.5%;
}


#favorite-icon__container > .fa-solid {
    color: purple;
    cursor: pointer;
}

#favorite-icon__container > .fa-regular {
    color: purple;
    cursor: pointer;
}

#container-container {
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
    width: 100%;
    z-index: 4;
}

/** Product Text - Name, Username, and Price  */
#fav-item__name, #fav-item__username {
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
}

#fav-item__username {
    color: #595959;
}

#fav-item__currency-value, #fav-item__currency-symbol {
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.hidden {
    display: none;
}

#hidden {
    display: none;
}

.nothingToSee {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 50px;
}

.clipFavs > i {
    font-size: 80px;
}

.clipFavs {
    display: flex;
    justify-content: center;
    background-color: rgb(187, 186, 186);
    border-radius: 100%;
    width: 150px;
    height: 150px;
    align-items: center;
}

.pop2 {
    margin-left: 20px;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 60px;
    /* border-top: 1px solid #595959; */
    /* transition: transform 0.3s ease; */
}

.favsPage {
    margin-left: 18px;
    margin-right: 18px
}
